/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.group:before,
.group:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.group:after {
  clear: both; }

@font-face {
  font-family: 'lft_etica_bkbook';
  src: url("../fonts/lft_etica_book-webfont.eot");
  src: url("../fonts/lft_etica_book-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lft_etica_book-webfont.woff2") format("woff2"), url("../fonts/lft_etica_book-webfont.woff") format("woff"), url("../fonts/lft_etica_book-webfont.ttf") format("truetype"), url("../fonts/lft_etica_book-webfont.svg#lft_etica_bkbook") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'lft_etica_sbsemibold';
  src: url("../fonts/lft_etica_semibold-webfont.eot");
  src: url("../fonts/lft_etica_semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lft_etica_semibold-webfont.woff2") format("woff2"), url("../fonts/lft_etica_semibold-webfont.woff") format("woff"), url("../fonts/lft_etica_semibold-webfont.ttf") format("truetype"), url("../fonts/lft_etica_semibold-webfont.svg#lft_etica_sbsemibold") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  background: #fff;
  color: #232323;
  font-family: lft_etica_bkbook, "Lucida Grande", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.4;
  position: relative; }

section {
  padding: 80px 0; }

a {
  text-decoration: none; }

img {
  display: block;
  width: 100%; }

.container {
  margin: 0 20px;
  position: relative; }
  @media (min-width: 1024px) {
    .container {
      max-width: 940px;
      margin: 0 auto; } }
  @media (min-width: 1400px) {
    .container {
      max-width: 1200px; } }

.top-main {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  min-height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2; }

.section-title {
  font-family: lft_etica_sbsemibold;
  font-size: 24px;
  padding-bottom: 60px;
  text-align: center;
  text-transform: uppercase; }
  .section-title.white {
    color: #fff; }

.section-intro {
  background: url("../images/back.png") no-repeat center center;
  background-size: cover;
  height: 380px;
  padding-top: 170px;
  text-align: center; }
  @media (min-width: 520px) {
    .section-intro {
      height: 460px;
      padding: 240px 100px 0; } }
  @media (min-width: 1400px) {
    .section-intro {
      height: 640px;
      padding: 340px 300px 0; } }
  .section-intro h1 {
    color: #fff;
    font-size: 24px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.8); }

.section-videos li {
  margin: 2%; }
  @media (min-width: 520px) {
    .section-videos li {
      float: left;
      width: 46%; } }
  @media (min-width: 1400px) {
    .section-videos li {
      width: 29%; } }
  .section-videos li a {
    color: #fff;
    display: block;
    position: relative; }
    .section-videos li a:after {
      border-radius: 4px;
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100%;
      /*background-color: #000000;*/
      background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.9)));
      background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.9));
      background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.9));
      background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.9));
      background-image: -ms-linear-gradient(top, transparent, rgba(0, 0, 0, 0.9));
      background-image: linear-gradient(top, transparent, rgba(0, 0, 0, 0.9));
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#000000', EndColorStr='#000000');
      transition: all 0.3s ease-in-out; }
    .section-videos li a:hover footer {
      bottom: 50px; }
    .section-videos li a:hover:after {
      background-color: rgba(0, 0, 0, 0.85); }
    .section-videos li a:hover h4 {
      opacity: 1; }
    .section-videos li a img {
      border-radius: 4px; }
    .section-videos li a footer {
      padding: 10px 14px;
      position: absolute;
      bottom: 0;
      width: 100%;
      z-index: 1;
      transition: all 0.3s ease-in-out; }
      .section-videos li a footer h3 {
        font-size: 16px; }
        @media (min-width: 520px) {
          .section-videos li a footer h3 {
            font-size: 20px; } }
      .section-videos li a footer h4 {
        color: rgba(255, 255, 255, 0.6);
        font-size: 13px;
        transition: all 0.3s ease-in-out; }
        @media (min-width: 520px) {
          .section-videos li a footer h4 {
            position: absolute;
            bottom: -10px;
            opacity: 0; } }

.section-clientes {
  background: url("../images/back-clientes.png") repeat center center; }
  .section-clientes li {
    margin: 0 auto 30px;
    text-align: center;
    width: 70%; }
    @media (min-width: 520px) {
      .section-clientes li {
        float: left;
        margin: 2%;
        width: 46%; } }
    @media (min-width: 1400px) {
      .section-clientes li {
        width: 29%; } }
    .section-clientes li img {
      margin-bottom: 10px; }
    .section-clientes li h3 {
      color: #999;
      font-size: 16px; }

.section-acerca .container > p {
  text-align: center; }
.section-acerca ul {
  margin-top: 40px; }
  .section-acerca ul li {
    font-size: 15px;
    margin-top: 30px;
    position: relative; }
    @media (min-width: 520px) {
      .section-acerca ul li {
        margin: 0 auto 30px;
        width: 70%; } }
    @media (min-width: 1024px) {
      .section-acerca ul li {
        float: left;
        padding: 0 30px 0 158px;
        width: 50%; } }
    .section-acerca ul li h3 {
      font-size: 18px;
      font-family: lft_etica_sbsemibold;
      text-align: center; }
      @media (min-width: 1024px) {
        .section-acerca ul li h3 {
          margin-bottom: 20px;
          text-align: left; } }
    .section-acerca ul li img {
      margin: 20px auto;
      width: 98px; }
      @media (min-width: 1024px) {
        .section-acerca ul li img {
          margin: 0;
          position: absolute;
          top: 50px;
          left: 30px; } }
  .section-acerca ul:first-child {
    margin-top: 0; }
