@import 'reset';

@mixin breakpoint($point) {
  @if $point == full {
    @media (min-width: 1400px) { @content; }
  }
  @else if $point == medium {
    @media (min-width: 1024px) { @content; }
  }
  @else if $point == widemobile {
    @media (min-width: 520px) { @content; }
  }
}

@font-face {
  font-family: 'lft_etica_bkbook';
  src: url('../fonts/lft_etica_book-webfont.eot');
  src: url('../fonts/lft_etica_book-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lft_etica_book-webfont.woff2') format('woff2'),
       url('../fonts/lft_etica_book-webfont.woff') format('woff'),
       url('../fonts/lft_etica_book-webfont.ttf') format('truetype'),
       url('../fonts/lft_etica_book-webfont.svg#lft_etica_bkbook') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lft_etica_sbsemibold';
  src: url('../fonts/lft_etica_semibold-webfont.eot');
  src: url('../fonts/lft_etica_semibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lft_etica_semibold-webfont.woff2') format('woff2'),
       url('../fonts/lft_etica_semibold-webfont.woff') format('woff'),
       url('../fonts/lft_etica_semibold-webfont.ttf') format('truetype'),
       url('../fonts/lft_etica_semibold-webfont.svg#lft_etica_sbsemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background: #fff;
  color: #232323;
  font-family: lft_etica_bkbook, "Lucida Grande", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.4;
  position: relative;
}

section {
  padding: 80px 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

.container {
  margin: 0 20px;
  position: relative;

  @include breakpoint(medium) {
    max-width: 940px;
    margin: 0 auto;
  }

  @include breakpoint(full) {
    max-width: 1200px;
  }
}

.top-main {
  background: rgba(255,255,255,0.9);
  box-shadow: 0 2px 4px rgba(0,0,0,0.15);
  min-height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.section-title {
  font-family: lft_etica_sbsemibold;
  font-size: 24px;
  padding-bottom: 60px;
  text-align: center;
  text-transform: uppercase;

  &.white {
    color: #fff;
  }
}

.section-intro {
  background: url("../images/back.png") no-repeat center center;
  background-size: cover;
  height: 380px;
  padding-top: 170px;
  text-align: center;

  @include breakpoint(widemobile) {
    height: 460px;
    padding: 240px 100px 0;
  }

  @include breakpoint(full) {
    height: 640px;
    padding: 340px 300px 0;
  }

  h1 {
    color: #fff;
    font-size: 24px;
    text-shadow: 0 2px 3px rgba(0,0,0,0.8);
  }
}

.section-videos {

  ul {
    // margin-left: -20px;
  }

  li {
    margin: 2%;

    @include breakpoint(widemobile) {
      float: left;
      width: 46%;
    }

    @include breakpoint(full) {
      width: 29%;
    }

    a {
      color: #fff;
      display: block;
      position: relative;


      &:after {
        border-radius: 4px;
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        /*background-color: #000000;*/
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.00)), to(rgba(0, 0, 0, 0.90)));
        background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.90));
        background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.90));
        background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.90));
        background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.90));
        background-image: linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.90));
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#000000', EndColorStr='#000000');
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        footer {
          bottom: 50px;
        }

        &:after {
          background-color: rgba(0,0,0,0.85);
        }

        h4 {
          opacity: 1;
        }
      }

      img {
        border-radius: 4px;
      }

      footer {
        padding: 10px 14px;
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 1;
        transition: all 0.3s ease-in-out;

        h3 {
          font-size: 16px;

          @include breakpoint(widemobile) {
            font-size: 20px;
          }
        }

        h4 {
          color: rgba(255,255,255,0.6);
          font-size: 13px;
          transition: all 0.3s ease-in-out;

          @include breakpoint(widemobile) {
            position: absolute;
            bottom: -10px;
            opacity: 0;
          }
        }
      }
    }
  }
}

.section-clientes {
  background: url("../images/back-clientes.png") repeat center center;

  li {
    margin: 0 auto 30px;
    text-align: center;
    width: 70%;

    @include breakpoint(widemobile) {
      float: left;
      margin: 2%;
      width: 46%;
    }

    @include breakpoint(full) {
      width: 29%;
    }

    img {
      margin-bottom: 10px;
    }

    h3 {
      color: #999;
      font-size: 16px;
    }
  }
}

.section-acerca {

  .container > p {
    text-align: center;
  }

  ul {
    margin-top: 40px;

    li {
      font-size: 15px;
      margin-top: 30px;
      position: relative;

      @include breakpoint(widemobile) {
        margin: 0 auto 30px;
        width: 70%;
      }

      @include breakpoint(medium) {
        float: left;
        padding: 0 30px 0 158px;
        width: 50%;
      }

      h3 {
        font-size: 18px;
        font-family: lft_etica_sbsemibold;
        text-align: center;

        @include breakpoint(medium) {
          margin-bottom: 20px;
          text-align: left;
        }
      }

      img {
        margin: 20px auto;
        width: 98px;

        @include breakpoint(medium) {
          margin: 0;
          position: absolute;
          top: 50px;
          left: 30px;
        }
      }
    }

    &:first-child {
      margin-top: 0;
    }
  }
}



























